.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding-top: 40px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.registration-page-btn {
    justify-content: flex-end;
}

.post-list {
    display: flex;
    flex-direction: column;
}